.storyHeading {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: xx-large;
    color: rgb(13, 82, 13);
}

.storyName {
    padding: 50px;
    font-size: larger;
}

mat-grid-tile-header{
    font-size: larger;
}