.card {
    border-radius: 20px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: none;
    display: flex;
    background-image: linear-gradient(315deg, #504f4a 0%, #123a2c 74%);
}


mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: x-large;
    color: beige;
    font-weight: 200;
}

mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

section{
    padding: 10px;
}

.delete{
    padding-top: 40px;
}

