
  <mat-grid-list
    cols="12"
    rowHeight="3:7"
    *ngIf="stories?.length > 0; else emptyStoryScreen"
  >
    <p class="storyHeading">Total User Stories : {{ stories.length }}</p>
    <div class="grid">
      <mat-grid-tile
        *ngFor="let story of stories"
        [colspan]="story.storyPoint > 8 ? 10 : 5"
        [rowspan]="story.storyName.length > 120 ? 2 : 2"
        [style.background]="story.color ? story.color : defaultColor"
      >
        <div class="storyName">
          Story: <br />
          {{ story.storyName }}
        </div>
        <mat-grid-tile-footer
          >Story Point: {{ story.storyPoint }}</mat-grid-tile-footer
        >
      </mat-grid-tile>
    </div>
  </mat-grid-list>


<ng-template #emptyStoryScreen>
  <mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile layout-padding [colspan]="1" [style.background]="'#fa8072 '">
    <div class="storyName">
        <mat-grid-tile-header> No Stories Available</mat-grid-tile-header>
        <mat-grid-tile-footer> Create Stories by adding Story Name and Story point in Add User Story Form in the left</mat-grid-tile-footer>

    </div>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
