

            <mat-card>
                <mat-card-header class="text-danger">
                    <h1 class="font-weight-bold"> Add User Story </h1>
                </mat-card-header>

                <mat-card-content >
                    <form [formGroup]="addStoryForm" class="add-story-form" (ngSubmit)="addStory()" >
                        <mat-form-field class="add-story-form-full-width ">
                            <mat-label>Story Name</mat-label>
                            <input matInput formControlName="storyName">
                            <div *ngIf=" addStoryForm.controls['storyName'].touched  && addStoryForm.get('storyName')?.errors" class="alert alert-danger">
                                <p *ngIf="addStoryForm.controls['storyName'].errors?.['minlength']?.requiredLength" >Story Name should have Minimum
                                    {{addStoryForm.controls['storyName'].errors?.['minlength']?.requiredLength}} Characters</p>
                                <p *ngIf="addStoryForm.controls['storyName'].errors" >

                                </p>
                            </div>
                        </mat-form-field >

                        <mat-form-field class="add-story-form-full-width ">
                            <mat-label>Story Point</mat-label>
                            <input matInput type="number" formControlName="storyPoint">

                        </mat-form-field>
                        <section>
                            <div class="submit-button-row">
                                <button type="submit" mat-raised-button color="primary">Add Story</button>
                            </div>
                        </section>
                        <div>
                            <p>{{duplicateStory}}</p>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            